body{
    font-family: 'Montserrat', sans-serif;
    max-width: 1280px;
    margin: 0;
    padding: 0;
    margin: auto;
}
header{
    margin: 0;
    padding: 0;
}
.nav-menu a{
    text-decoration: none;
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 2.7px;
    color: #FF0000;
    
}

.nav-menu {
    list-style: none;
    width: 620px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    
    padding: 31.5px ;
    
    text-transform: uppercase;
}


.main-content{
    text-align: center;
    margin: 0;
    padding: 0;
    
    padding-top: 49px;
    padding-bottom: 42px;

    
}
.title-item{
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin: 0;
    padding: 0;
    margin-bottom: 38px;
}

.text-item{
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    
    margin: 0 67px;

    letter-spacing: 2.4px;
    
    color: #373737;

    margin-bottom: 32px;

}

.main-button{
    border: 0;
    width: 191px;
    height: 51px;


    background: #FF0000;
    border-radius: 4px;

    font-weight: 700;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-top: 38px;

    
}
.footer{
    padding-left: 105px;
    padding-right: 105px;
    padding-top: 47px;
    padding-bottom: 29px;
    
}

.footer-item{
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;

    letter-spacing: 2.4px;

    color: #373737;
    
    text-align: right;
    width: 1070px;

    margin: 0;
    padding: 0;
    /* border: 1px solid black; */

}

